<p id="notice"><%= notice %></p>

<p>
  <strong>Busname:</strong>
  <%= @business.busname %>
</p>

<p>
  <strong>Busadd1:</strong>
  <%= @business.busadd1 %>
</p>

<p>
  <strong>Busadd2:</strong>
  <%= @business.busadd2 %>
</p>

<p>
  <strong>Buscity:</strong>
  <%= @business.buscity %>
</p>

<p>
  <strong>Busstate:</strong>
  <%= @business.busstate %>
</p>

<p>
  <strong>Buspostal:</strong>
  <%= @business.buspostal %>
</p>

<p>
  <strong>String:</strong>
  <%= @business.string %>
</p>

<p>
  <strong>Busphone:</strong>
  <%= @business.busphone %>
</p>

<p>
  <strong>Buswebsite:</strong>
  <%= @business.buswebsite %>
</p>

<p>
  <strong>Busphone:</strong>
  <%= @business.busphone %>
</p>

<p>
  <strong>Busemail:</strong>
  <%= @business.busemail %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
