<p id="notice"><%= notice %></p>

<p>
  <strong>Wuserco:</strong>
  <%= @wuserbusiness.Wuserco %>
</p>

<p>
  <strong>Wusercoadd1:</strong>
  <%= @wuserbusiness.wusercoadd1 %>
</p>

<p>
  <strong>Wusercoadd2:</strong>
  <%= @wuserbusiness.wusercoadd2 %>
</p>

<p>
  <strong>Wusercocity:</strong>
  <%= @wuserbusiness.wusercocity %>
</p>

<p>
  <strong>Wusercostate:</strong>
  <%= @wuserbusiness.wusercostate %>
</p>

<p>
  <strong>Wusercopostal:</strong>
  <%= @wuserbusiness.wusercopostal %>
</p>

<p>
  <strong>Wusercophone:</strong>
  <%= @wuserbusiness.wusercophone %>
</p>

<p>
  <strong>Wusercoemail:</strong>
  <%= @wuserbusiness.wusercoemail %>
</p>

<p>
  <strong>Wusercotitle:</strong>
  <%= @wuserbusiness.wusercotitle %>
</p>

<%= link_to 'Edit', edit_wuserbusiness_path(@wuserbusiness) %> |
<%= link_to 'Back', wuserbusinesses_path %>
