<p id="notice"><%= notice %></p>

<p>
  <strong>Wuseradd1:</strong>
  <%= @wusercontact.wuseradd1 %>
</p>

<p>
  <strong>Wuseradd2:</strong>
  <%= @wusercontact.wuseradd2 %>
</p>

<p>
  <strong>Wusercity:</strong>
  <%= @wusercontact.wusercity %>
</p>

<p>
  <strong>Wuserstate:</strong>
  <%= @wusercontact.wuserstate %>
</p>

<p>
  <strong>Wuserpostal:</strong>
  <%= @wusercontact.wuserpostal %>
</p>

<p>
  <strong>Wuserphone:</strong>
  <%= @wusercontact.wuserphone %>
</p>

<%= link_to 'Edit', edit_wusercontact_path(@wusercontact) %> |
<%= link_to 'Back', wusercontacts_path %>
