<p id="notice"><%= notice %></p>

<p>
  <strong>Busfb:</strong>
  <%= @businesssocial.busfb %>
</p>

<p>
  <strong>Bustwitter:</strong>
  <%= @businesssocial.bustwitter %>
</p>

<p>
  <strong>Busgp:</strong>
  <%= @businesssocial.busgp %>
</p>

<%= link_to 'Edit', edit_businesssocial_path(@businesssocial) %> |
<%= link_to 'Back', businesssocials_path %>
