<p id="notice"><%= notice %></p>

<p>
  <strong>Weventadd1:</strong>
  <%= @weventaddress.weventadd1 %>
</p>

<p>
  <strong>Weventadd2:</strong>
  <%= @weventaddress.weventadd2 %>
</p>

<p>
  <strong>String:</strong>
  <%= @weventaddress.string %>
</p>

<p>
  <strong>Weventcity:</strong>
  <%= @weventaddress.weventcity %>
</p>

<p>
  <strong>Weventstate:</strong>
  <%= @weventaddress.weventstate %>
</p>

<p>
  <strong>Weventpostal:</strong>
  <%= @weventaddress.weventpostal %>
</p>

<p>
  <strong>Weventurl:</strong>
  <%= @weventaddress.weventurl %>
</p>

<%= link_to 'Edit', edit_weventaddress_path(@weventaddress) %> |
<%= link_to 'Back', weventaddresses_path %>
