<p id="notice"><%= notice %></p>

<h1>Wusersocials</h1>

<table>
  <thead>
    <tr>
      <th>Wuserfb</th>
      <th>Wusertwitter</th>
      <th>Wusergp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wusersocials.each do |wusersocial| %>
      <tr>
        <td><%= wusersocial.wuserfb %></td>
        <td><%= wusersocial.wusertwitter %></td>
        <td><%= wusersocial.wusergp %></td>
        <td><%= link_to 'Show', wusersocial %></td>
        <td><%= link_to 'Edit', edit_wusersocial_path(wusersocial) %></td>
        <td><%= link_to 'Destroy', wusersocial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wusersocial', new_wusersocial_path %>
