<p id="notice"><%= notice %></p>

<p>
  <strong>Wuserfb:</strong>
  <%= @wusersocial.wuserfb %>
</p>

<p>
  <strong>Wusertwitter:</strong>
  <%= @wusersocial.wusertwitter %>
</p>

<p>
  <strong>Wusergp:</strong>
  <%= @wusersocial.wusergp %>
</p>

<%= link_to 'Edit', edit_wusersocial_path(@wusersocial) %> |
<%= link_to 'Back', wusersocials_path %>
