<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ticketname</th>
      <th>Ticketperformer</th>
      <th>Ticketeventdate</th>
      <th>Ticketseatsec</th>
      <th>Ticketseatlevel</th>
      <th>Ticketseatrow</th>
      <th>Ticketseat</th>
      <th>Ticketprice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticketname %></td>
        <td><%= ticket.ticketperformer %></td>
        <td><%= ticket.ticketeventdate %></td>
        <td><%= ticket.ticketseatsec %></td>
        <td><%= ticket.ticketseatlevel %></td>
        <td><%= ticket.ticketseatrow %></td>
        <td><%= ticket.ticketseat %></td>
        <td><%= ticket.ticketprice %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
