<p id="notice"><%= notice %></p>

<p>
  <strong>Reservationname:</strong>
  <%= @reservation.reservationname %>
</p>

<p>
  <strong>Resqty:</strong>
  <%= @reservation.resqty %>
</p>

<p>
  <strong>Resdate:</strong>
  <%= @reservation.resdate %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
