<p id="notice"><%= notice %></p>

<p>
  <strong>Weventname:</strong>
  <%= @wevent.weventname %>
</p>

<p>
  <strong>Weventdesc:</strong>
  <%= @wevent.weventdesc %>
</p>

<p>
  <strong>Weventstart:</strong>
  <%= @wevent.weventstart %>
</p>

<p>
  <strong>Weventstop:</strong>
  <%= @wevent.weventstop %>
</p>

<p>
  <strong>Weventcat:</strong>
  <%= @wevent.weventcat %>
</p>

<p>
  <strong>Weventtype:</strong>
  <%= @wevent.weventtype %>
</p>

<p>
  <strong>Weventrepeat:</strong>
  <%= @wevent.weventrepeat %>
</p>

<p>
  <strong>Weventprivate:</strong>
  <%= @wevent.weventprivate %>
</p>

<p>
  <strong>Weventbusy:</strong>
  <%= @wevent.weventbusy %>
</p>

<%= link_to 'Edit', edit_wevent_path(@wevent) %> |
<%= link_to 'Back', wevents_path %>
