<p id="notice"><%= notice %></p>

<p>
  <strong>Venueadd1:</strong>
  <%= @venuelocation.venueadd1 %>
</p>

<p>
  <strong>Venueadd2:</strong>
  <%= @venuelocation.venueadd2 %>
</p>

<p>
  <strong>Venuecity:</strong>
  <%= @venuelocation.venuecity %>
</p>

<p>
  <strong>Venuestate:</strong>
  <%= @venuelocation.venuestate %>
</p>

<p>
  <strong>Venuepostal:</strong>
  <%= @venuelocation.venuepostal %>
</p>

<p>
  <strong>Venuecountry:</strong>
  <%= @venuelocation.venuecountry %>
</p>

<p>
  <strong>Venuelanguage:</strong>
  <%= @venuelocation.venuelanguage %>
</p>

<%= link_to 'Edit', edit_venuelocation_path(@venuelocation) %> |
<%= link_to 'Back', venuelocations_path %>
