<p id="notice"><%= notice %></p>

<p>
  <strong>Venuefb:</strong>
  <%= @venuesocial.venuefb %>
</p>

<p>
  <strong>Venuetwitter:</strong>
  <%= @venuesocial.venuetwitter %>
</p>

<p>
  <strong>Venuegp:</strong>
  <%= @venuesocial.venuegp %>
</p>

<%= link_to 'Edit', edit_venuesocial_path(@venuesocial) %> |
<%= link_to 'Back', venuesocials_path %>
