<!DOCTYPE html>
<html>
  <head>
    <title>Whabble6</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

</html>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Events", root_path %></li>
      <li><%= link_to "Create Event",  home_createevent_path %> </li>
      <li><%= link_to "Search Venues", home_createbusiness_path %> </li>
      <li><%= link_to "Send Message", home_searchevents_path  %> </li>
      <li><%= link_to "User Profile", home_updateprofile_path  %> </li>
    </ul>
</div>
</body>

    <%= yield %>
</body>